<div class="container mt-5">
    <div *ngIf="!register" style="text-align:center;">
        <h1>Find your Match</h1>
        <p class="lead">Come on in to view your matches...all you need is signup...!</p>
        <div class="text-center">
            <button class="btn btn-primary btn-lg me-2" (click)="registertoggle()">Register </button>
            <button class="btn btn-primary btn-info  btn-lg me-2">Learn More</button>
        </div>
    </div>
    <div class="container" *ngIf="register"> 
        <div class="row justify-content-center">
            <div class="col-4">
              <app-register></app-register>
            </div>
        </div>
    </div>
</div>