


<!-- <ngx-spinner tyep="fire">
  <h3>loading.....</h3>
</ngx-spinner> -->

<!-- <ngx-spinner type="fire">
  <h3>loading........</h3> 
</ngx-spinner> -->
<!-- <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" 
size = "medium" color = "#ee3300" type = "square-jelly-box" [fullScreen] = "true">
<p style="color: white" > Loading... </p>
</ngx-spinner> -->
<!-- <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#ee3300" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner> -->
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#ee3300" type = "ball-newton-cradle" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<app-nav>

</app-nav> 
<!-- <router-outlet></router-outlet> -->
<div class="container" style="margin-top: 100px">
<!-- <app-home></app-home>  -->
  <!-- <ul>
    <li *ngFor="let u of users">
      {{u.id}}-{{u.userName}}
    </li>
  </ul> -->

  <router-outlet></router-outlet>
  

</div>